.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--blue);
    background-image: linear-gradient(62deg, var(--blue) 0%, var(--pink) 100%);
    position: relative;
}